SickCity/SFML-2.3.2

.vscode
ipch
#gtags
GTAGS
GRTAGS
GPATH
*.pdb
*.log
*.idb

#visual c++ cache files
*.aps
*.ncb
*.opendb
*.opensdf
*.cachefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.tlog
